body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-length {
min-width:80px;
border-radius:15px;
font-size:1.25rem;
background-color: #cd5d67;
border: #cd5d67;
}

.card-border {
  border: 5px solid #91171F;
}

.card-background {
  background-color:#ba1f33;
}

.white-text {
  color:white;
}
